.rave-component {
  font-weight: bold;

  background-image: linear-gradient( rgba(255,255,255,0.6), rgba(0,0,0,0.6) );
height: 50px;
line-height: 40px;
width: 450px;
margin: 5px auto;
_color: white;
font-size: 12px;
font-weight: bold;
border-radius: 5px;
box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);

	background-color: red;
	-webkit-animation: namedcolors 0.5s infinite alternate;
}
@-webkit-keyframes namedcolors {
	100% {background-color: orange;}
}
